// Navigation Styles here
header {
    width: 100%;
    border-bottom: 2px dashed silver;
    position: sticky;
    top: 0;
    background: white;
    margin: 0 auto;
    height: 90px;
     
    .nav-container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        @media @phone {
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 10px;

        }

        a {
            padding:  20px;
            font-size: 1.50rem;
            text-decoration: none;
        }

    }
}